{% extends 'base.html.twig' %}

{% block body %}
    <h1>Licensee</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ licensee.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ licensee.email }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ licensee.login }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ licensee.password }}</td>
            </tr>
            <tr>
                <th>Staff</th>
                <td>{% if licensee.staff %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('licensee_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('licensee_edit', { 'id': licensee.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
