{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-10 offset-1 col-md-6 offset-md-3">
                <h2 class="text-center my-5">Modification du profil</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 m-auto">
                {{ form_start(form) }}
                <div class="form-group text-center">
                    {{ form_label(form.email) }}
                </div>
                <div class="form-group text-center">
                    {{ form_widget(form.email) }}
                </div>
                <div class="form-group text-center">
                    {{ form_errors(form.email) }}
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-secondary mt-3 mb-4" >Envoyer</button>
                </div>
                {{ form_end(form) }}
                <a href="{{ path('climbers') }}" class="text-center d-block">Retour à l'accueil</a>
            </div>
        </div>
        </div>
    </div>

{% endblock %}
