{% extends 'admin/base_admin.html.twig' %}

{% block section %}

<h2 class="text-center my-5">Listes des news</h2>

<ul>
    <li>
        <a href="{{ path('new_post') }}">Rédiger une nouvelle news</a>
    </li>
</ul>

<table class="table">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Image de la news</th>
            <th>Contenu de l'article</th>
            <th>Date de rédaction</th>
            <th>Article public</th>
            <th>Article actif</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for post in posts %}
        <tr>
            <td>{{ post.title }}</td>
            <td><img src="{{ asset(''~ post.imgLink ~'') }}" alt="image de la news" class="icon-img"/></td>
            <td>{{ post.content }}</td>
            <td>{{ post.createdAt|date('d-m-Y') }}</td>
            <td>{% if post.publicPost %}oui{% else %}non{% endif %}</td>
            <td>{% if post.activePost %}oui{% else %}non{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('show_post', { 'id': post.id }) }}">Voir</a>
                    </li>
                    <li>
                        <a href="{{ path('edit_post', { 'id': post.id }) }}">Modifier</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
