{% extends 'admin/base_admin.html.twig' %}

{% block section %}
    <h1>News</h1>
    <p>news publique : {% if post.publicPost %}oui{% else %}non{% endif %}</p>
    <p>news active : {% if post.activePost %}oui{% else %}non{% endif %}</p>

    <div class="card shadow-sm w-75 m-auto">
        <img class="card-img-top" src="{{ post.imgLink }}" alt="Repas début saison">
        <div class="card-body">
            <h4 class="m-1 p-1" class="card-title">{{ post.title }}</h4>
            <p class="text-justify p-1 m-1" class="card-text">{{ post.content }}<br>{{ post.author }} <small>{{ post.createdAt|date('d-m-Y') }}</small></p>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('list_posts') }}">Revenir à la liste des news</a>
        </li>
        <li>
            <a href="{{ path('edit_post', { 'id': post.id }) }}">Modifier la news</a>
        </li>
    </ul>
{% endblock %}
