{% extends 'admin/base_admin.html.twig' %}

{% block section %}
    <h1 class="mt-3 mb-3 h1-back">Liste des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Login</th>
                <th>Staff</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.fullname }}</td>
                <td>{% if user.staff %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('show_user', { 'id': user.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('edit_user', { 'id': user.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('new_user') }}">Enregistrer un nouvel utilisateur</a>
        </li>
    </ul>
{% endblock %}
