{% extends 'admin/base_admin.html.twig' %}

{% block section %}
<h2 class="text-center my-5">Liste des licenciés</h2>

<ul>
    <li>
        <a href="{{ path('new_user') }}">Enregistrer un nouvel licencié</a>
    </li>
</ul>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Login</th>
            <th>Staff</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.email }}</td>
            <td>{{ user.fullname }}</td>
            <td>{% if user.staff %}Yes{% else %}No{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('show_user', { 'id': user.id }) }}">Voir</a>
                    </li>
                    <li>
                        <a href="{{ path('edit_user', { 'id': user.id }) }}">Modifier</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
