{% extends 'admin/base_admin.html.twig' %}

{% block section %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ user.fullname }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Staff</th>
                <td>{% if user.staff %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('list_users') }}">Retour à la liste des utilisateurs</a>
        </li>
        <li>
            <a href="{{ path('edit_user', { 'id': user.id }) }}">modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
